<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- # This is just to make sure that the website is responsive to the device that it is on. -->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"> <!-- # This is just to make sure that the website is responsive to the device that it is on. -->

    <title>Spotify Buttons!</title>  <!-- # So title is just what is going to show up on the tab -->
    <link rel="stylesheet" href="https://seamusmcn.github.io/css/styleMain.css"> <!-- This is the CSS file that defines our style -->

</head>

<body>

    <h1>Enter Your Spotify Credentials</h1>

    <!-- Form to collect Spotify credentials -->
    <form id="spotify-credentials-form"> <!-- Sends the credentials - need to directly put in web connection url to get to server to /submit_credentials --> 
        <label for="user_name">USER NAME:</label><br>
        <input type="text" id="user_name" name="user_name" required><br><br>

        <input type="submit" value="Submit">
    </form>

    <p id="status"></p>  <!-- This will show the status of the request -->

    <h1> Create and play playlist of currently playing artist!</h1>
    <button id="artist-cat-button" class="push--skeuo push--red">Artist.cat</button>

    <br><br>
    <h3>Queue 3 most similar songs from what catalog? (Deprecated)</h3>

    <!-- Form to select Catalog Type -->
    <form id="catalog-form">
        <label>Catalog Type:</label><br>
        <div class="radio-group">
            <input type="radio" id="catalog-liked" name="Catalog" value="Liked" required>
            <label for="catalog-liked">Liked</label>
            
            <input type="radio" id="catalog-master" name="Catalog" value="Master">
            <label for="catalog-master">Master</label>

            <input type="radio" id="catalog-current" name="Catalog" value="Current">
            <label for="catalog-current">Current</label>
        </div>
        <br><br>
        <input type="submit" value="Submit">
    </form>
    
    <br><br>
    
        <!-- Link back to Home -->
    <a href="../index.html">Back to Home</a>

    <!-- Link your JavaScript file -->
    <script src="https://seamusmcn.github.io/MainJavaScript.js"></script>

</body>


</html>
