<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- # This is just to make sure that the website is responsive to the device that it is on. -->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"> <!-- # This is just to make sure that the website is responsive to the device that it is on. -->

    <title>Spotify Buttons!</title>  <!-- # So title is just what is going to show up on the tab -->
    <link rel="stylesheet" href="https://seamusmcn.github.io/css/styleMain.css"> <!-- This is the CSS file that defines our style -->

</head>

<body>

    <h1>Enter Your Spotify Credentials</h1>

    <!-- Form to collect Spotify credentials -->
    <form id="spotify-credentials-form"> <!-- Sends the credentials - need to directly put in web connection url to get to server to /submit_credentials --> 
        <label for="client_id">Client ID:</label><br>
        <input type="text" id="client_id" name="client_id" required><br><br>

        <input type="submit" value="Submit">
    </form>
 
    <!-- <p></p> -->
    <br><br>
    <button onclick="window.location.href='https://seamusmcn-github-io.onrender.com/pull_text'">Get Read me</button>
    <br><br>

    <p id="status"></p>  <!-- This will show the status of the request -->

    <h1>Add the next 5 most similar songs from what catalog? (Either 'Liked' or 'Master'!)</h1>

    <!-- Form to select Catalog Type -->
    <form id="catalog-form">
        <label for="Catalog">Catalog Type:</label><br>
        <input type="text" id="Catalog" name="Catalog" required><br><br>
        <input type="submit" value="Submit">
    </form>

    <h2> Create and play playlist of currently playing artist!</h2>
    <button id="artist-cat-button" class="push--skeuo push--red">Artist.cat</button>
    
    <br><br>
    
        <!-- Link back to Home -->
    <a href="../index.html">Back to Home</a>

    <!-- Link your JavaScript file -->
    <script src="https://seamusmcn.github.io/MainJavaScript.js"></script>

</body>


</html>
