<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- # This is just to make sure that the website is responsive to the device that it is on. -->
    <meta content="width=device-width, initial-scale=1.0" name="viewport"> <!-- # This is just to make sure that the website is responsive to the device that it is on. -->

    <title>Spotify Buttons!</title>  <!-- # So title is just what is going to show up on the tab -->
    <link rel="stylesheet" href="https://seamusmcn.github.io/css/styleMain.css"> <!-- This is the CSS file that defines our style -->

</head>

<body>

    <h1>Enter Your Spotify Credentials</h1>

    <!-- Form to collect Spotify credentials -->
    <form id="spotify-credentials-form"> <!-- Sends the credentials - need to directly put in web connection url to get to server to /submit_credentials --> 
        <label for="client_id">Client ID:</label><br>
        <input type="text" id="client_id" name="client_id" required><br><br>

        <label for="client_secret">Client Secret:</label><br>
        <input type="text" id="client_secret" name="client_secret" required><br><br>

        <input type="submit" value="Submit">
    </form>

    <script>
        document.getElementById('spotify-credentials-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission

            // Collect form data
            const client_id = document.getElementById('client_id').value;
            const client_secret = document.getElementById('client_secret').value;

            // Prepare the data to be sent
            const formData = new URLSearchParams();
            formData.append('client_id', client_id);
            formData.append('client_secret', client_secret);

            // Make a POST request to the Flask backend
            fetch('https://seamusmcn-github-io.onrender.com/submit_credentials', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: formData.toString()
            })
            .then(response => response.json())
            .then(data => {
                if (data.auth_url) {
                    // Redirect the user to Spotify's authorization page
                    window.location.href = data.auth_url;
                } else if (data.error) {
                    document.getElementById('status').innerText = `Error: ${data.error}`;
                } else {
                    document.getElementById('status').innerText = 'Unexpected response from server.';
                }
            })
            .catch(error => {
                document.getElementById('status').innerText = 'An error occurred during submission.';
                console.error('Error:', error);
            });
        });
    </script>
 
    <!-- <p></p> -->
    <br><br>
    <button onclick="window.location.href='https://seamusmcn-github-io.onrender.com/pull_text'">Get Read me</button>
    <br><br>

    <p id="status"></p>  <!-- This will show the status of the request -->

    <h1>Add the next 5 most similar songs from what catalog? (Either 'Liked' or 'Master'!)</h1>

    <!-- Form to select Catalog Type -->
    <form id="catalog-form" onsubmit="return getMostSimilarSong()">
        <label for="Catalog">Catalog Type:</label><br>
        <input type="text" id="Catalog" name="Catalog" required><br><br>
        <input type="submit" value="Submit">
    </form>

    <script>
        function getMostSimilarSong() {
            // Prevent the form from submitting normally
            event.preventDefault();

            // Get the catalog type from the input field
            let catalog = document.getElementById('Catalog').value;

            // Make an AJAX request to the Flask route
            fetch('https://seamusmcn-github-io.onrender.com/most_similar_song', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'Catalog': catalog
                })
            })
            .then(response => response.text())
            .then(data => {
                // Display the response in the 'status' paragraph
                document.getElementById('status').innerText = data;
            })
            .catch(error => {
                document.getElementById('status').innerText = 'Error occurred!';
                console.error('Error:', error);
            });

            return false; // Prevent form submission from reloading the page
        }
    </script>  

    <br><br>
    
        <!-- Link back to Home -->
    <a href="../index.html">Back to Home</a>

</body>

<!-- create a variable (const) for our header to change in the console, or have other things be able to change it -->
<script type="text/javascript" src="../MainJavaScript.js"> 
    const header = document.querySelector('#header'); 
    console.log(header);
</script> <!-- This will be our link to our JavaScript-->

</html>
